@font-face {
    font-family: "Norse";
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Norse";
    src: url('fonts/Norse.woff2') format('woff2'),
        url('fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

.left > img {
    height: 100vh;
    width: 35vw;
    display: block;
}

.logo-text {
    position: absolute;
    top: 25vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsla(0, 0%, 0%, 0.5);
    width: 35vw;
    height: 15vh;
}

.logo-text img {
    height: 125px;
}

.logo-text .text {
    font-family: "Norse";
    font-weight: bold;
    font-size: 6rem;
    color: white;
}

.credit {
    position: absolute;
    bottom: 10px;

    width: 35vw;
    text-align: center;
    
    color: white;
}

a {
    color: white;
}