@font-face {
    font-family: "Norse";
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Norse";
    src: url('fonts/Norse.woff2') format('woff2'),
        url('fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;

    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    width: 35vw;

    background-image: url("img/plants.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-text {
    flex: 0 0;

    margin-top: 35%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsla(0, 0%, 0%, 0.5);

    width: 100%;
    height: 15%;
}

.logo-text img {
    height: 90%;
}

.logo-text .text {
    font-family: "Norse";
    font-weight: bold;
    font-size: calc(2rem + 5vw);
    color: white;
}

.credit {
    width: 100%;
    text-align: center;
    
    color: white;

    margin-bottom: 5%
}

header a {
    color: white;
}

.right-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 10%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 5%; 

    font-size: 1.5rem;

    height: 20%;
}

fieldset {
    border: none;

    display: flex;
    flex-direction: column;

    padding: 5% 10%;

    box-shadow: 0px 1px 5px hsla(0, 0%, 40%, 0.3);

    gap: 10px;
}

form .title {
    font-size: 1.5rem;
    font-weight: 700;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.inputPair {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputPair label {
    font-size: 0.8rem;
}

.inputPair input {
    width: 20rem;

    padding: 5px 2px;

    border-color: hwb(0 62% 6% / 0.149);
    border-radius: 5px;
}

.inputPair input:focus,
.inputPair input:active {
    outline: none;

    border: 2px solid rgb(58, 142, 207);
    border-radius: 5px;

    box-shadow: 2px 2px 5px hsla(0, 0%, 40%, 0.3);;
}

.inputPair input:user-invalid {
    border: 2px solid rgb(179, 3, 3);
}

.right a {
    text-decoration: none;
    color: hsla(99, 100%, 14%, 0.737);
}

.right a:hover,
.right a:focus {
    color: hsla(99, 98%, 21%, 0.737);
}

button[type="submit"] {
    font-size: 1rem;
    font-weight: 700;

    border: none;
    border-radius: 10px;

    color: white;
    background-color: hsla(99, 100%, 14%, 0.737);

    width: 15rem;

    padding: 15px 10px;
    margin: 40px 0px;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: hsla(99, 98%, 21%, 0.737);
    cursor: pointer;
}

.right-bottom {
    padding-left: 10%;
}